<div class="center hero-unit">
  <h1>Welcome to theCourseForum</h1>

  <h2>
    Homepage for the new Course Forum.
  </h2>

  <%= link_to "Log in", "#", class: "btn btn-large btn-primary" %>
</div>
