# http://stackoverflow.com/questions/9321153/rails-database-setup-on-travis-ci

# Tell TravisCI to use container-based testing (faster)
sudo: false

# Tell TravisCI to cache bundle installs
cache: bundler

# Language to use is Ruby
language: ruby

# Database Environment is mysql
env:
  - DB=mysql

# Use Ruby 2.0.0
rvm:
  - 2.2.3

notifications:
  slack: thecourseforum:issU3RUdO71y1A5saeTL07X3

# Commands to run before tests. Create DB config file and create database.
before_script:
  - cp config/database.yml.skel config/database.yml
  - cp config/initializers/devise.rb.example config/initializers/devise.rb
  - RAILS_ENV=test bundle exec rake db:create
  - export DISPLAY=:99.0
  - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16
  - bundle exec rake db:test:prepare
