%h1 Settings

.row
  .col-xs-3
    Word Cloud
  .col-xs-2
    .btn.btn-primary.btn-xs
      On
  .col-xs-2
    .btn.btn-primary.btn-xs
      Off
.row
  .col-xs-2.col-xs-offset-1
    Doge Cloud
  .col-xs-2
    .btn.btn-primary.btn-xs
      On
  .col-xs-2
    .btn.btn-primary.btn-xs
      Off
