<p id="notice"><%= notice %></p>

<p>
  <h1><%= @department.name %></h1>
</p>

<p>
  <% @subdepartments.each do |subdepartment| %>
	<% if(@count > 1) %>
  		<h2><%= subdepartment.name %></h2>
	<% end %>
  	<% @courses.each do |course| %>
  		<% if(course.subdepartment_id == subdepartment.id) %>
  			<%= link_to subdepartment.mnemonic + " " + course.course_number.to_s + " " + course.title, course %>
  			<br />
		<% end %>
  	<% end %>
  <% end %>
</p>
