<div id="container">
<img src="http://www.thecourseforum.com/images/logo.png" alt="theCourseForum" /><span class="tagline">Connecting you to the courses you love</span>
<br /><br />
<div id="sidebar">
<div id="sidebar_content">
<div id="login-form">
<form name="login">
<label for="email">email:</label><br />
<input type="text" id="email" /><br />
<label for="pass">password:</label><br />
<input class="inputtext" type="password" id="pass" /><br />
<input class="inputtext" type="submit" value="Login" />
</form>
</div> <!--sidebar-->
</div> <!--sidebar-content-->
</div> <!--login-form-->
</div> <!--content-->
