<div id="container">
<img src="http://www.thecourseforum.com/images/logo.png" alt="theCourseForum" /><span class="tagline">Connecting you to the courses you love</span>
<br /><br />
<div id="login-form">
	<form name="login">
		<label for="email">email:</label><br />
		<input type="text" id="email" /><br />
		<label for="pass">password:</label><br />
		<input class="inputtext" type="password" id="pass" /><br />
		<input class="inputtext" type="submit" value="Login" />
	</form>
</div> <!--login-form-->
<span>Write reviews for classes you've taken, compare classes you need to take, learn what other students think about professors and classes, and view grade books.</span>
<div id = "Sign Up">
	<h1> Sign Up </h1>
	<h2> It's free and easy. </h2>
	<label for="firstname">First Name:</label>
	<input type="text" id="firstname" /><br />
	<label for="lastname">Last Name:</label>
	<input type="text" id="lastname" /><br />
	<label for="uvaemail">UVA Email:</label>
	<input type="text" id="uvaemail" /><br />
	<label for="newpass">Password:</label>
	<input class="inputtext" type="password" id="newpass" /><br />
	<label for="gradyear">Graduation Year</label>
	<input type="text" id="gradyear" /><br />
	<input class="inputtext" type="submit" value="Sign Up" />
</div>
</div> <!--content-->
