<h1> connecting you to the courses you love </h1>

<div class="container">
  <div class="marketing">
    <p>
      <b>Write reviews</b> for classes you've taken, <b>compare classes</b> you need to take, <b>learn</b> what other students think of classes and professors, and <b>view gradebooks</b>.
    </p>
  </div>
  <div class=marketing>
    <div class=sign-up>
      <h1>Sign up!</h1>
      <div id="student_form">
        <%=render 'student_form'%>
      </div>
    </div>
  </div>
</div>

