.user-sign-up
  #notice= notice
  %h1.welcome-header connecting you to the courses you love
  .container
    .marketing
      %p
        %b Write reviews
        for classes you've taken,
        %b compare classes
        you need to take,
        %b learn
        what other students think of classes and professors, and
        = succeed "." do
          %b view gradebooks
    .sign-up
      %h1 Sign up!
      #student_form
        = render 'user_signup_form'