%h2 Professors
.row-fluid
	.span12
		.row-fluid
			.span6
				%p First Letter of Professor's Last Name:
				%select{:name => "prof_name", :id => "prof_name"}
					- ('A'..'Z').each do |a|
						%option{:value => (a)}
							= a
%hr

%p{:id => "loading", :style=>"display: none"} Loading...

.span12{:name => "prof_list", :id => "prof_list"}

%p &nbsp

:erb
	<script>

	document.getElementById("prof_name").selectedIndex = -1;
			
	</script>