- content_for :title, "Browse by Professor"
%h1 Professors
.row-fluid
	.span12
		.row-fluid
			.span6
				%p First Letter of Professor's Last Name:
				= select_tag :prof_name, options_for_select(('A'..'Z').to_a), :include_blank => true

%hr

%p{:id => "loading", :style=>"display: none"} Loading...

.row-fluid
	.span12{:name => "prof_list", :id => "prof_list"}	

%p &nbsp

:javascript

	document.getElementById("prof_name").selectedIndex = -1;
			
-