= javascript_include_tag "scheduler/automatic"
%body
  #calendar
    .row
      .col-lg-4
        .btn.btn-primary#save-sections Save Sections
      .col-lg-4
        .btn.btn-primary#clear-sections Clear Calendar
      .col-lg-3.col-lg-offset-1
        %h2 Class Search
    .row
      .col-lg-9
        %input#schedule-slider{:type => "range", :max => 0, :min => 0, :step => 1}
    #schedule
  #search-bar
    %input#class-search{name: "class-search", type: "text"}
    %select#saved-courses
      %option -- Select Course --
      - current_user.courses.each do |course|
        %option= "#{course.subdepartment.mnemonic} #{course.course_number}"
      end
    .btn.btn-primary#clear-courses Clear Saved Courses
    %h5#results-title Courses
    #results-box

  .course-result.hidden
    %a.remove
    %p.course-mnemonic
    %p.course-title
    %input{:type => 'checkbox'}
  #course-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "course-title", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4#course-title
        .modal-body
          %h4#lecture-header Lectures
          .lectures
          %h4#discussion-header Discussions
          .discussions
          %h4#laboratory-header Laboratories
          .laboratories
        .modal-footer
          %button.btn.btn-default#close-selection{"data-dismiss" => "modal", :type => "button"} Close
          %button.btn.btn-primary#save-selection{:type => "button"} Save Changes