h1 Scheduler is having some trouble

p First of all, we want to thank you all for your support of the site during the scheduling season.
p Secondly, we would like to apologize because the traffic today overwhelmed our servers and caused the site to go down.
p We believe this was due to the increased use in our new scheduling feature.
p While we are happy with the response to our scheduler, we unfortunately had to temporarily remove the feature from the site in order to maintain server capacity.
p The site should be up and running as usual now, and we expect to come up with a solution to bring the Scheduler feature back online soon. Happy scheduling!
p Remember - theCourseForum is run by the students, for the students with no outside funding - please bear with us!
