%body
  #schedule
  #search-bar
    %h2 Class Search
    %input#class-search{name: "class-search", type: "text"}/
    %h5#results-title Results
    #results-box
  .course-result.hidden
    %a.remove
    %p.course-title
    %p.professor
    %p.location
  .course-info.hidden
    %a.remove
    %p.course-title
    %p.professor
    %p.description
    %p.location


