%script{src: "assets/fullcalendar.js", type: "text/javascript"}
%link{href: "assets/fullcalendar.css", rel: "stylesheet", type: "text/css"}
%link{href: "assets/scheduler.css", rel: "stylesheet", type: "text/css"}
%body
  #schedule
  #search-bar
    %h2 Class Search
    %input#class-search{name: "class-search", type: "text"}/
%script{src: "assets/scheduler.js", type: "text/javascript"}
