%body
  #calendar
    .row
      .col-lg-3
        .btn.btn-primary#save-sections Save Sections
      .col-lg-3
        .btn.btn-primary#reset-sections Reset Saved Sections
      .col-lg-3
        .btn.btn-primary#clear-sections Clear Calendar
      .col-lg-3
        %h2 Class Search
    #schedule
  #search-bar
    %input#class-search{name: "class-search", type: "text"}
    %select#saved-courses
      %option -- Select Course --
      - current_user.courses.each do |course|
        %option= "#{course.subdepartment.mnemonic} #{course.course_number}"
      end
    .btn.btn-primary#clear-courses Clear Saved Courses
    %h5#results-title Results
    %course_user.courses.inpsect
    #results-box
    .btn.btn-primary#gen-schedules Generate Schedules
  .course-result.hidden
    %a.remove
    %p.course-title
    %p.professor
    %p.location
  .course-info.hidden
    %a.remove
    %p.course-title
    %p.professor
    %p.description
    %p.location
    


