%script{src: "assets/fullcalendar.js", type: "text/javascript"}
%script{src: "//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js", type: "text/javascript"}
%body
  #schedule
  #search-bar
    %h2 Class Search
    %input#class-search{name: "class-search", type: "text"}/
    %h5#results-title Results
    #results-box
  .course-result.hidden
    %p.course-title
    %p.professor
    %p.location
    %p.time
%script{src: "assets/scheduler.js", type: "text/javascript"}
