%script{src: "assets/fullcalendar.js", type: "text/javascript"}
%body
  #schedule
  #search-bar
    %h2 Class Search
    %input#class-search{name: "class-search", type: "text"}/
    %h5#results-title Results
    #results-box
%script{src: "assets/scheduler.js", type: "text/javascript"}
