%h1 Thanks for helping us improve theCourseForum!
= form_for :report, :url => submit_error_report_path(:user_id => current_user.id) do |f|
  Problem Page: 
  %br
  %h5 
    theCourseForum.com
    = f.text_field :url, :value => @url, :style => "width:400px;"
  %h2 Describe the problem:
  = f.text_area :description
  %br
  = f.submit "Submit", :class => "btn"