// default colors
$orange: #D75626;
$blue: #15214B;

// variables to ovverride bootstrap
$navbar-height: 75px;
$navbar-default-bg: white;
$link-color: #000;
$link-hover-color: $orange;
$btn-primary-bg: $orange;

// font sizes
$regular-font-size: 14px;
$sidebar-font-size: 18px;
$tab-font-size: 21px;
$menu-font-size: 21px;
$subtitle-font-size: 24px; // ALL CAPS
$title-font-size: 36px;

// element sizes
$sidebar-width: 300px;