// default colors
$orange: #D75626;
$blue: #15214B;
$light-blue: #5972A0;
$lightgray: #cccccc;
$lightblue: #6D8BC2;

// element sizes
$sidebar-width: 250px;
$sidebar-left-margin: 25px;
$sidebar-left-tabbed: 20px;
$sidebar-icon-padding: 11px;

// variables to ovverride bootstrap
$navbar-height: 60px;
$navbar-default-bg: white;
$link-color: #000;
$link-hover-color: $orange;
$btn-primary-bg: $orange;

// font sizes
$tiny-font-size: 8px;
$small-font-size: 10px;
$description-font-size: 12px;
$smaller-comment-font-size: 13px;
$comment-font-size: 14px;
$regular-font-size: 16px;
$sidebar-font-size: 16px;
$save-course-font-size: 20px;
$comment-overall-rating-font-size: 20px;
$tab-font-size: 21px;
$menu-font-size: 21px;
$subtitle-font-size: 24px; // ALL CAPS
$course-font-size: 30px;
$title-font-size: 36px;


$content-max-width: 1186px;
