// default colors
$orange: #D75626;
$blue: #15214B;
$dark-blue: #445079;
$light-blue: #6c8ac1;
$gray: #8C8A8A;

// element sizes
$sidebar-width: 250px;
$sidebar-left-margin: 25px;
$sidebar-left-tabbed: 20px;
$sidebar-icon-padding: 11px;
$screen-sm: 850px;

// variables to ovverride bootstrap
$navbar-height: 60px;
$navbar-default-bg: white;
$link-color: #000;
$link-hover-color: $orange;
$btn-primary-bg: $orange;

// font sizes
$tiny-font-size: 8px;
$small-font-size: 10px;
$icon-font-size: 11px;
$smaller-comment-font-size: 13px;
$description-font-size: 13px;
$comment-font-size: 14px;
$regular-font-size: 16px;
$sidebar-font-size: 16px;
$save-course-font-size: 20px;
$comment-overall-rating-font-size: 20px;
$tab-font-size: 21px;
$menu-font-size: 21px;
$subtitle-font-size: 24px; // ALL CAPS
$course-font-size: 30px;
$title-font-size: 36px;


$content-max-width: 1186px;

// flexbox mixins
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin flex-flow($val) {
  -webkit-flex-flow: $val;
  flex-flow: $val;
}

@mixin justify-content($val) {
  -webkit-justify-content: $val;
  justify-content: $val;
}

@mixin align-items($val) {
  -webkit-align-items: $val;
  align-items: $val;
}
