// default colors
$orange: #D75626;
$blue: #15214B;

// element sizes
$sidebar-width: 250px;
$sidebar-left-margin: 25px;
$sidebar-left-tabbed: 20px;
$sidebar-icon-padding: 11px;

// variables to ovverride bootstrap
$navbar-height: 60px;
$navbar-default-bg: white;
$link-color: #000;
$link-hover-color: $orange;
$btn-primary-bg: $orange;

// font sizes
$regular-font-size: 16px;
$sidebar-font-size: 16px;
$tab-font-size: 21px;
$menu-font-size: 21px;
$subtitle-font-size: 24px; // ALL CAPS
$title-font-size: 36px;

