@import "variables";

#about-container {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px #B8B8B8;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top:5px;
  padding-top: 10px;
}

#us-container {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px #B8B8B8;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top:5px;
  padding-top: 10px;	
}

#content-container {
  background-color: #eee !important;
  box-shadow: none !important;
  padding-top: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
}

h1#title {
	padding-top: 5px;
	margin-bottom: -10px;
	color: $blue;
}

h4#subtitle {
	color: $orange;
}

p#about {
	padding-top:5px;
}

img#banner {
	padding-top: 5px;
	padding-bottom: 5px;
	margin:auto;
	width:90%;
}

p {
	padding-bottom: 5px;
}

h4#subabout {
	padding-top: 5px;
	//padding-bottom: 5px;
	color: $blue;
}

h4#thanks {
	color: $blue;
}

h4#us {
	text-align: center;
}

.ustext {
	text-align: center;
}

ul#grid {
	list-style-type: none;
	font-size: 0px;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	
	//width:100%;
	//margin-left: -5.5%;
}

h2#team {
	margin-left:10px;
	color: white;
}

.header {
	background-color: $blue;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right:5px;
	padding-left:5px;
	margin-top:10px;
	margin-bottom:25px;
	width:99%;
}

#subhead { 
	display:inline-block;
	color: white;
	width: 19%;
	text-align:center;
	vertical-align: center;
	//background-color: $blue;
	//text-align:center;	
}

h3 {
	text-align: left;
	width:100%;
	border-bottom: 1px solid #999;
}

h5 {
	text-align: center;
}

h5#class {
	margin: 0;
	padding: 1;
}

h5#major {
	display: inline;
}

ul#grid li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.0% 2.0%;
	background: #fff;
	border: 1px solid #ddd;
	font-size:16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul#grid li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}

ul#grid li h2 {
	text-align: center;
	margin: 0 0 5px;
}

ul#grid li h3 {
	text-align:center;
	font-size: .9em;
	line-height: 1.5em;
	color: black;
	margin: 0 0 5px;
}

li#columns2 {
	width: 22.2%
}

.indivblock {
	position: relative;
}

.ushover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: white;
}