@import "variables";

#about-container {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px #B8B8B8;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top:5px;
  padding-top: 10px;
}

#us-container {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px #B8B8B8;
  padding-right: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top:5px;
  padding-top: 10px;	
}

#content-container {
  background-color: #eee !important;
  box-shadow: none !important;
  padding-top: 0px !important;
  padding-left: 0px;
  padding-right: 0px;
}

h1#title {
	padding-top: 5px;
	margin-bottom: -10px;
	color: $blue;
}

h4#subtitle {
	padding-top: 7px;
	color: $orange;
}

p#about {
	padding-top:10px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#banner {
	padding-top: 10px;
	padding-bottom: 5px;
}

p {
	line-height: 1.5;
	padding-bottom: 5px;
}

h4#subabout {
	padding-top: 5px;
	padding-bottom: 5px;
	//padding-bottom: 5px;
	color: $blue;
}

h4#thanks {
	padding-bottom: 5px;
	color: $blue;
}

h4#us {
	text-align: center;
}

.aboutrow {
	//list-style-type: none;
	//font-size: 0px;
	//display: inline-block;
	text-align: left;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	clear: both;
	//width:100%;
	//margin-left: -5.5%;
}

h2#team {
	margin-left:10px;
	color: white;
}

.header {
	background-color: $blue;
	padding-top: 10px;
	padding-bottom: 5px;
	padding-right:5px;
	padding-left:5px;
	margin-top:10px;
	margin-bottom:25px;
	width:99%;
}

#subhead { 
	display:inline-block;
	color: white;
	width: 19%;
	text-align:center;
	vertical-align: center;
	//background-color: $blue;
	//text-align:center;	
}

h3 {
	text-align: left;
	width:100%;
	border-bottom: 1px solid #999;
}

h4#class {
  //background: #FFFFFF;
  //margin-top: 50px;	
  //text-align: center;
  //display: inline;
}

h5#major {
	display: inline;
}

.block h2 {
	text-align: center;
	margin: 0 0 5px;
}

.block h3 {
	text-align:center;
	font-size: .9em;
	line-height: 1.5em;
	color: black;
	margin: 0 0 5px;
}

.block {
	padding: 10px;
	margin: 0 0 2.0% 2.0%;
	background: #fff;
	border: 1px solid #ddd;
	font-size:16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 22.5%;
	overflow: hidden;
}

.block img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}


.ustext {
	text-align: center;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
	will-change: transform;
}

.ushover {
	opacity: 0;
	position: absolute;
	bottom: -160px;
	left: 0;
	text-align: center;
	width: 100%;
	transition: all 0.5s ease;
	will-change: transform;
}

.block:hover .ushover {
	opacity: 100;
	-webkit-transform: translateY(-194px);
	        transform: translateY(-194px);
}

.block:hover .ustext {
	opacity: 0;
	-webkit-transform: translateY(200px);
	        transform: translateY(200px);
}

@media screen and (max-width: 992px) { //two columns
	.block {
		class: '.col-md-6';
		width: 45%;
	}
}