/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * BS3-switch used for settings toggles. 
 *= require bootstrap3-switch
 *= require jquery-ui/slider
 *= require jqcloud
 *= require fullcalendar
 *= require bootstrap_overrides
 *= require header
 *= require footer
 *= require sidebar
 *= require welcome
 *= require departments 
 *= require reviews
 *= require courses
 *= require scheduler
 *= require books
 */

$screen-sm: 850px;

@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/autocomplete";

$nprogress-color: $blue;
$nprogress-height: 4.5px;
@import "nprogress";
@import "nprogress-bootstrap";

//rest of variables
@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@font-face {
  font-family: 'comic-sans';
  src: asset-url('comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell";
  src: asset-url('rockwell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: asset-url('FuturaLT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Futura", sans-serif;
  background-color: $blue;
  overflow: hidden;
  font-size: $regular-font-size;
}

aside {
  width: $sidebar-width !important;
  float: left;
  @media only screen and (min-width: $screen-sm-min) {
    display: block!important;
  }
  @media only screen and (max-width: $screen-sm) {
    display: none;
    background-color: $blue;
    position: relative;
    z-index: 1;
    height: 100%
  }
}

section#main {
  margin-left: $sidebar-width;
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;

  @media only screen and (max-width: $screen-sm) {
    margin-left: 0;
  }
  
  // http://stackoverflow.com/questions/7198282/how-to-make-div-occupy-remaining-height
  // bottom: 0;
  // top: $navbar-height;
  // right: 0;
  // left: 0;
  // position: absolute;

  #main-container {
    background-color: #EEE;
    height: 100%;
    overflow: auto;
    padding: 40px 50px;

    #content-container {
      box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4), inset 0px 0px 0px 1px rgba(255, 255, 255, 0.07);
      background-color: white;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
}

#welcome-container {
  margin-top: 20px;
  margin-bottom: 50px; // height of footer
  color: white;
  #about, #terms, #privacy {
    a {
      color: white;
    }
  }
}

select {
  @extend .form-control;
  border-radius: 0px;
}

#alert, #notice {
  color: white;
  float: center;
  text-align: center;
  background-color: $orange;
  padding: 5px 0;
  vertical-align: middle;
  font-size: $sidebar-font-size;
  padding-left: 30px;
}

#close-notice, #close-alert {
  float: right;
  margin-right: 20px;
  a {
    color: white;
  }
}

.brand {
  font-family: "Rockwell";
}

.orange-title {
  font-size: $subtitle-font-size;
  color: $orange;
}

.form-row {
  margin-top: 10px;
}

.text-white {
  color: white;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 31px;
}