/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/slider
 *= require fullcalendar
 *= require jqcloud
 *= require bootstrap3-switch
 *= require scheduler
 */

//variables to override bootstrap
$orange: #d9551e;
$blue: #011f4a;
$navbar-height: 35px;
$navbar-default-bg: $blue;
$link-color: #000;
$link-hover-color: $orange;
$btn-primary-bg: $orange;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/autocomplete";

//rest of variables

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@font-face {
  font-family: 'comic-sans';
  src: asset-url('comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#word_cloud
{
  font-family: 'comic-sans';
  overflow: visible;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary, 
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary
{
  color: #fff;
  background: $orange !important;
}

//base styles

html {
  overflow-y: scroll;
}

body {
  padding-bottom: 70px;
}

select {
  @extend .form-control;
}

label {
  font-weight: normal;
}

input[type=number], input[type=text], input[type=email], textarea, input[type=password]{
  @extend .form-control;
}

//header related

.header-welcome-nav {
  @extend nav;
  @extend .navbar-default;
  @extend .navbar;
  border-radius: 0px;
  
  .container
  {
    .navbar-toggle {
      @extend .btn-primary;
      margin-top: 9px;
      border-color: inherit;
    }
    .navbar-toggle:hover {
      @extend .btn:hover;
      @extend .btn-primary:hover;
      background-color: #b54719;
    }

    .navbar-toggle:focus {
      @extend .btn:focus;
      @extend .btn-primary:focus;
      background-color: #b54719;
    } 

    .navbar-collapse {
      padding-top: 10px;
    }

    .welcome-header {
      float: none; 
      margin: 0 0;
    }

    .logo .welcome-header-fix
    {
      margin-top: 5px;
    }
  }
}

.header-nav {
  @extend nav;
  @extend .navbar-default;
  @extend .navbar;
  border-radius: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  .container
  {
    .navbar-toggle {
      @extend .btn-primary;
      margin-top: 7px;
      margin-right: 0px;
      border-color: inherit;
    }
    .navbar-toggle:hover {
      @extend .btn:hover;
      @extend .btn-primary:hover;
      background-color: #b54719;
    }

    .navbar-toggle:focus {
      @extend .btn:focus;
      @extend .btn-primary:focus;
      background-color: #b54719;
    } 

    .navbar-header
    {
      float: none; 
      margin: 0 0;
    }

    .menu-button
    {
      .icon-bar
      {
        background-color: white;
      }
    }

    #menu-collapse
    {
      .mobile-dropdown li
      {
        
        width: 100%;

        a
        {
          text-align: right;
          float: left;
          width: 33.33%;
          height: 90%;
          color: white;
          font-size: 12px;
        }

        a:first-child
        {
          text-align: left;
          font-size: 14px;
          width: 66.66%;
          border-right: 1px solid $orange;
        }

        a.icon
        {
          img
          {
            max-width: 30px;
          }
          padding: 5px 15px;
        }


      }

      .mobile-dropdown li.space-fix
      {
        margin-top: 8px;
      }

      .mobile-dropdown li.divider
      {
        min-height: 1px;
        width: 100%;
        float: left;
        border-bottom: 1px solid $orange;
      }

      .mobile-dropdown li.search:hover
      {
        background: transparent;
      }

      .mobile-dropdown li a:hover
      {
        background-color: $orange;
      }


    }
  }
}

.top-padding-fix
{
  margin-top: 40px;
}

.aside-navigation 
{
  margin-bottom: 20px;
  margin-top: -20px;

  ul li
  {
    margin: 0 auto;
    border-radius: 0;
  }

}

.small-nav {
  @extend .nav;
  @extend .nav-pills;
  li
  {
    width: 25%;
    border-left:1px solid #000;
    border-bottom:1px solid #000;
  }

  li:hover {
    background-color: #eeeeee;
  }
}


.navbar-header {
  width: 100%;
}

form.site-search {
  max-width: 350px;
  margin-top: 9px;
  margin-right: auto;
  margin-left: auto;
}

.search {
  .pagination {
    margin: 5px 0;
  }
}

.account-header {
  margin-top: 16px;
  float: right;
  margin-left: 30px;

  a, a:hover {
    color: #FFF;
  }

  .open a{
    background-color: transparent !important;
  }
}

.orange-caret
{
border-top-color: $orange !important;
border-bottom-color: $orange !important;
}

.dropdown-login {
  left:auto;
  right:0;
  width: 100%;

  li{
    a:hover{
      background-color: #EEEEEE !important;
      background-image: none;
      color: $orange;
    }
  }   
}


#student_form{
  form {
    .row
    {
      margin-bottom: 5px;
    }
  }
}

section {
  @include make-md-column(9);
}

aside {
  @include make-md-column(3);
  width: auto !important;
  margin-right: 20px;
}

.row {
  min-height: 30px;
}

.navbar-header{
  float: right;
  width: auto;
}

.login-remember{
  color: #FFF !important;
  font-size: 11px !important;
}

.login-remember-box{
  width: 13px !important;
  margin: 0 0 0 !important;
  vertical-align: middle
}

.login-remember-box:hover{
  cursor: pointer;
}

.brand {
  float: left;
}

.brand img {
  max-width: 200px;
}

.brand-login
{
  margin: 5px 0;
}

.login {
  float: right;

  .col-md-4 {
    padding: 0 5px 2px 5px;
  }

  form{
    label {
      font-weight: normal;
    }
    label:hover {
      cursor: pointer;
    }

    input.login-button {
      width: 100px;      
      margin-top: 0px !important;
    }

    .row{
      max-width: 500px;
      .col-xs-4
      {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}



.footer-nav {
  @extend nav;
  @extend .navbar-default;
  @extend .navbar;
  @extend .navbar-fixed-bottom;
  border-radius: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.dropdown-media, .dropdown-links 
{
  float: left;
  margin-left: 3px; 
  a
  {
    color: white;
  }

  .dropdown-menu
  {
    min-width: 0px;
  }
}

.dropdown-media a 
{
  .share-icon
  {
    width: 17px;
    height: auto;
  }

  img
  {
    width: 40px;
    height: auto;
  }
  
}

h1 {
  font-size: 18px;
  color: $orange;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
  font-weight: bold;
  line-height: 40px;
}

h2 {
  font-size: 14px;
  color: $orange;
  margin:0px;
  font-weight: bold;
  line-height: 40px;
}

.department-list
{
  .col-sm-6
  {
    padding-left: 30px;
  }
  padding-left: 1.5em;
  text-indent:-1.5em;
}

.dept-header{
  float: left;
  width: 100%;
}

li {
  list-style: none;
}

li.bullet{
  list-style-type: disc;
}

li.indented {
  padding-left: 20px;
}

td.review{
  padding:10px;
}

td.section{
  padding:20px;
}

table.ratings td{
  border-left:solid 15px transparent;
  border-right:solid 15px transparent
}

p.title{
  text-align:center;
  font-weight:bold;
}

//aside/nav related
ul.site-nav-links {
  @extend .nav;

  li.active a, li.active a:hover {
    color: $orange;
    background-color: #FFF;
  }

  li a {
    padding: 5px 15px;
  }


}

.sidefiller {
  height: 50px;
}

//home page
.marketing {
  @include make-md-column(5);
}

.sign-up {
  @include make-md-column(6);
}

form.register {
  input.button {
    @extend .btn;
  }
}


textarea {
  min-height: 150px;
}

ul.professor-courses, ul.department-courses{
  padding-left: 0px;
  li{
    padding-left: 1.5em;
    text-indent:-1.5em;
  }
}

//course professors
.course-professor-switcher {
  // margin-left: 30px;
}

.course-professor-h1 {
  // @include make-row();
  margin-bottom: 16px;

  h1 {
    @include make-xs-column(12);
    @include ellipsis;
    // float: left;
    border-bottom: none;
    margin-bottom: 0px;
  }

  .bottom-border {
    // width: 100%;
    // float: left;
    border-bottom: 1px solid #000;
    margin-top: 5px;
    // margin-left: 15px;
  }

  select {
    // float: left;
    color: $orange;
    font-weight: bold;
    option {
      color: #000;
    }
  }
}

.review-button
{
  .review-btn 
  {
    width: 100%;
  }
}

.course-breakdown 
{
}

.course-stats 
{
}

.course-grades {
  float: left;

  h2 {
    margin-left: 25px;
  }
}

.average-stat{
  min-height: 40px;

  .col-xs-4
  {
    padding-top: 7px;
    .glyphicon
    {
      margin-right: 10px;
    }
  }  

  input[type=checkbox]
  {
    vertical-align: middle;
  }
}

.review-radios
{
  display: none;
}

.review-field
{
  border-radius: 4px;
  background-color: $orange;
  color: white;
}

//Grades
.grade-donut
{
  text-align: center;
}

.grade-donut .slice {
  font-size: 11px;
}

.grade-donut .inner-label {
  fill: gray;
  font-size: 18px;
  font-weight: bold;
}

.single-review {
  max-width: 90%;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;


  ul.meta {
    @include make-md-column(2);
  }

  .comment {
    @include make-md-column(8.5);
    margin-bottom: 10px;
  }

  ul.ratings {
    @include make-md-column(1);
  }

  .row {
    .col-xs-1 {
      padding: 0;
    }
  }
}

// Single Reviews
.single-review ul.ratings {
  li {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position-y: 2px;
  }

  li.overall {
    background-image: image-url("icons/heart.png");
  }
  li.professor_rating {
    background-image: image-url("icons/user_gray.png");
  }
  li.enjoyability {
    background-image: image-url("icons/emoticon_smile.png");
  }
  li.difficulty {
    background-image: image-url("icons/pencil.png");
  }
  li.recommend {
    background-image: image-url("icons/user_comment.png");
  }
}

.taken
{
  font-size:11px;
}

.my-review-titles{
  font-weight: bold;
}

.terms-of-use, .privacy-policy{
  line-height: 14px;
  font-size: 11px;
  h2{
    font-size: 13px;
  }
}

.contact-us
{
  float: left;
  a 
  {
    color: white;
  }
}

.anonymous {
  label:hover 
  {
    cursor: pointer;
  }

  input[type=checkbox]
  {
    cursor: pointer;
  }
}

.inline {
  display: inline;

}

.problem h5 {
  font-weight: bold;

  input {
    display: inline;
  }
}


.social-icons{
  float: right;

  img{
    height: 30px;
    width: auto;
  }
}

.static-pages{
  margin-top: 4px;
  margin-left: 20px;
  float: left;

}

.about, .privacy, .terms, .blog {
  float: left;
  margin-right: 20px;

  a{
    color: #FFFFFF;
    font-size: 10px;
  }
}

.copyright
{
  color: #FFFFFF;
  font-size: 10px;
  margin-top: 8px;
  text-align: center;
  float: right;
  margin-left: 20px;
}

.centertext
{
  text-align: center;
}

.col-xs-1.overall {
  background: image-url("icons/heart.png") no-repeat center top;
  min-height: 16px;
}
.col-xs-1.professor_rating {
  background: image-url("icons/user_gray.png") no-repeat center top;
  min-height: 16px;
}
.col-xs-1.enjoyability {
  background: image-url("icons/emoticon_smile.png") no-repeat center top;
  min-height: 16px;
}
.col-xs-1.difficulty {
  background: image-url("icons/pencil.png") no-repeat center top;
  min-height: 16px;
}
.col-xs-1.recommend {
  background: image-url("icons/user_comment.png") no-repeat center top;
  min-height: 16px;
}

.ui-slider-handle
{
  font-size: 22px;
}

.ui-slider-horizontal
{
  height: 15px !important;
}