/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_overrides
 *= require header
 *= require footer
 *= require sidebar
 *= require welcome
= require jquery-ui/slider
= require fullcalendar
= require jqcloud
BS3-switch used for settings toggles. 
= require bootstrap3-switch
= require scheduler
 */

@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/autocomplete";

//rest of variables
@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@font-face {
  font-family: 'comic-sans';
  src: asset-url('comic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rockwell";
  src: asset-url('rockwell.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: asset-url('futura-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#alert, #notice {
  color: white;
  text-align: center;
  background-color: $orange;
  padding: 5px 0;
  vertical-align: middle;
  font-size: $sidebar-font-size;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Futura", sans-serif;
  background-color: $blue;
  overflow: hidden;
}

aside {
  width: $sidebar-width !important;
  float: left;
}

section#main {
  margin-left: $sidebar-width;
  position: fixed;
  top: 75px;
  bottom: 0;
  left: 0;
  right: 0;
  
  // http://stackoverflow.com/questions/7198282/how-to-make-div-occupy-remaining-height
  // bottom: 0;
  // top: $navbar-height;
  // right: 0;
  // left: 0;
  // position: absolute;

  #main-container {
    background-color: #EEE;
    height: 100%;
    overflow: auto;
    padding: 40px 50px;

    #content-container {
      background-color: white;
      padding-bottom: 20px;
    }
  }
}

#welcome-container {
  margin-top: 20px;
}

.brand {
  font-family: "Rockwell";
}

.form-row {
  margin-top: 10px;
}

.text-white {
  color: white;
}

.page-title {
  margin-top: 0px;
  margin-bottom: 31px;
}