/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

//variables to override bootstrap
$orange: #f26522;
$navbarHeight: 35px;
$navbarBackground: #0E2034;
$navbarBackgroundHighlight: #0D3268;
$linkColor: #000;
$linkColorHover: $orange;
$btnPrimaryBackground: $orange;
$btnPrimaryBackgroundHighlight: $orange;


@import "bootstrap";
@import "bootstrap-responsive";
@import "jquery.ui.autocomplete";

//rest of variables

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

//base styles

html {
  overflow-y: scroll;
}

body {
  @extend .container;
  padding-top: 100px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

header {
  @extend .navbar;
  @extend .navbar-fixed-top;
}

footer {
  @extend .navbar;
  @extend .navbar-fixed-bottom;
}

nav {
  @extend .navbar-inner;
}

section {
  @include makeColumn(9);
}

section.wide {
  @include makeColumn(12);
}

aside {
  @include makeColumn(3);
}

h1 {
  font-size: 18px;
  color: $orange;
  margin-top: 0px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

h2 {
  font-size: 14px;
  color: $orange;
  margin:0px;
}

ul.left {
  @include makeColumn(4);
}

ul.right {
  @include makeColumn(4);
  margin-left: 80px;
}

.content {
  @include makeRow();
}

.content .main {
  @include makeColumn(8);
}

.content .sidebar {
  @include makeColumn(4, 2);
}

li {
  list-style: none;
}

li.indented {
  padding-left: 20px;
}

td.review{
  padding:10px;
}

td.section{
  padding:20px;
}

table.ratings td{
  border-left:solid 15px transparent;
  border-right:solid 15px transparent
}

p.title{
  text-align:center;
  font-weight:bold;
}

//header related
.login {
  @extend .form-inline;
  @extend .pull-right;
  margin-top: 22px;

  form{
    input {
      @extend .input-medium;
    }

    div.input {
      @extend .pull-left;
    }

    div.input.password {
      margin-left: 10px;
    }

    input.button {
      @extend .input-small;
      @extend .btn;
      margin-top: 0px !important;
    }
  }
}

form.site-search {
  @extend .navbar-search;
  @extend .pull-right;
  margin-top: 22px;

  input {
    border-left: none;
  }

  .add-on {
    background-color: #FFF;
  }
}

.account-header {
  @extend .pull-right;
  margin-top: 27px;

  a, a:hover {
    color: #FFF;
    margin-left: 30px;
  }
}

//aside/nav related
ul.site-nav-links {
  @extend .nav;
  @extend .nav-list;

  li.active a, li.active a:hover {
    color: $orange;
    background-color: #FFF;

    i {
      background-image: url("/assets/glyphicons-halflings.png") !important;
    }
  }
}

//home page
.marketing {
  @include makeColumn(6);
}

.sign-up {
  @include makeColumn(5);
}

form.register {
  input {
    @extend .input-large;
  }

  input.button {
    @extend .btn;
  }
}

.review-container {
  @extend .container-fluid;
  font-size: 85%;
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
}

textarea {
  width: 325px;
  height: 150px;
}

//course professors

.course-professor-h1 {
  @include makeRow();
  border-bottom: 1px solid #000;
  margin-bottom: 16px;

  h1 {
    @include makeColumn(7);
    @include ellipsis;
    float: left;
    border-bottom: none;
    margin-bottom:8px;
  }

  select {
    @include makeColumn(2);
    float: right;
    margin-top: 4px;
  }
}

.course-breakdown {
  @include makeRow();
}

.course-stats {
  @include makeColumn(5);
}

.course-grades {
  @include makeColumn(4);
  float: right;

  h2 {
    margin-left: 25px;
  }
}

//Grades
.grade-donut .slice {
  font-size: 11px;
}

.grade-donut .inner-label {
  fill: gray;
  font-size: 18px;
  font-weight: bold;
}

.single-review {
  @include makeRow();
  border-bottom: 1px solid #dddddd;
  margin-bottom: 10px;

  ul.meta {
    @include makeColumn(1.5)
  }

  .comment {
    @include makeColumn(6.5)
  }

  ul.ratings {
    @include makeColumn(1)
  }
}

// Single Reviews
.single-review ul.ratings {
  li {
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position-y: 2px;
  }

  li.overall {
    background-image: url("/assets/icons/heart.png");
  }
  li.professor_rating {
    background-image: url("/assets/icons/user_gray.png");
  }
  li.enjoyability {
    background-image: url("/assets/icons/emoticon_smile.png");
  }
  li.difficulty {
    background-image: url("/assets/icons/pencil.png");
  }
  li.recommend {
    background-image: url("/assets/icons/user_comment.png");
  }
}

.orange-caret
{
border-top-color: #f26522 !important;
border-bottom-color: #f26522 !important;
}

.dropdown-menu.right {
    left:auto;
    right:0;
}

.error-report{
  float: right;
}