@import "variables";

/*body {
  font-family: "OpenSans";
}*/

#courses-main {
  padding-left: 0px;
  padding-right: 0px;
}

$lightgray: #cccccc;


// .container-fluid {
//   padding-left: 0px;
//   padding-right: 0px
// }

.rating-number {
  padding-left: 0px;
  padding-right: 5px;
  font-size:12px;
  text-align: center;
  padding-top: 8px;
}

img {
  vertical-align: middle;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}*/


#courses-sidebar {
  // 590px found to be the max height of #courses-main
  max-height: 590px;
  overflow-y: auto;
  border-right: 1px solid black;
}

.course-stats {
  padding-left: 0px;
  padding-right: 5px;
}

.rating-row, .rating {
  height:100px;
}

.pagination {
  font-size: 1.3vw;
}

.rating {
  font-size: 78px;
  font-size: 4.5vw;
  font-family: 'OpenSans';
  color: rgb(215, 86, 38);
  text-align: center;
  height: 50px;
  /*margin-top: 40px;*/
/*  display: inline-block;*/
/*  vertical-align: 30%;*/
  bottom: 40%;
  position: absolute;
  width: 90%;
}

.ratings-stats, .workload-stats {
  height:155px;
  /* Rectangle 13 Copy: */
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
  padding-right: 5px;
  margin-bottom: 10px;
}

.orange-title {
  margin-top: 15px;
}

.review-pane {
  margin-top: 10px;
  background: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
}

.course-grades {
  height: 320px;
  padding-left: 5px;
  border: 1px solid #979797;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
}

#save-course .btn.btn-primary {
  width: 150px;
  height: 40px;
  margin-left: 40px;
  float: center;
  font-size: 20px;
}

// .row {
//   margin-left: 0px;
//   margin-right: 0px;
// }

.rating-title {
  color: $blue;
}

.sortby-title {
  padding-top: 18px;
}

.title-row {
  margin-top: 0px;
  background-color: #FFFFFF;
  height: 190px;
  /* Rectangle 13 Copy 2: */
  border: 1px solid #979797;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.50);
}

.title {
  color: #E25424;
}

.author {
  margin-left: 30px;
  color: #E25424;
}

.p.requirement-cost-condition {
  margin-left: 30px;
  color: $blue;
}

.textbooks-row {
  border-bottom: 1px dotted black;
  padding-top: 8px;
}
.recommended-textbooks-row{
  border-bottom: 1px dotted black;
  padding-top: 8px;
  opacity: 0.5
}

.optional-textbooks-row{
  border-bottom: 1px dotted black;
  padding-top: 8px;
  opacity: 0.5
}

.other-textbooks-row{
  border-bottom: 1px dotted black;
  padding-top: 8px;
  opacity: 0.5
}

.stat-row {
  height: 30px;
}

.single-review {
  padding: 10px 0;
  border-bottom: 1px solid black;
}

.rating-icon {
  margin-right: 4px;
}

.panel-title-content {
  padding-top: 0;
  margin-top:0;
  vertical-align: middle;
}

.prof-block {
  height: 46px;
  background-color: $orange;
  width: 46px;
  float: left;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0;
  margin-top: -10px;  
  margin-left: -15px;
}

.prof-heading {
  margin-bottom: 5px;  
}

.prof-title {
  font-size: 18px;
}

.overall-col {
  /*//border-right-color: black;*/
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px;
  height:145px;
  border-right: #bbb 1px solid;
}


.icon {
  font-size: 8px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}

.icon-text {
  text-align: center;
}

.stats-col {
  padding-left: 0px;
  padding-right: 0px;
  padding-top:2px;
}



.skillbar {
  margin-top: 8px;
  vertical-align: middle;
  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:13px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-bar {
  vertical-align: middle;
  background: #6D8BC2;
  height:13px;
  width:0px;
}



/* http://codepen.io/CreativeJuiz/pen/BiHzp */
/* http://webdesign.tutsplus.com/tutorials/quick-tip-easy-css3-checkboxes-and-radio-buttons--webdesign-8953 */

/*

.professor-checkbox {
  display: none;
}

.professor-checkbox + label {
  cursor: pointer;
}

.professor-checkbox + label span {
  display:inline-block;

  width: 16px; 
  height: 16px;
  border: 1px solid #aaa;
  background: #f8f8f8;
  border-radius: 0px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  vertical-align: middle;
  cursor: pointer;

  margin-bottom: 4px;
  margin-right: 4px;
}

.professor-checkbox:checked + label span:after {
  position: absolute;
  top: 2px;
  content: '✔';
  font-size: 20px;
  color: $blue;
  transition: all .2s;
  line-height: 100%;
}

*/