@import "variables";

#department-courses {
  list-style-type: none;
  padding-left: 0;
}

#department-accordion {
  margin-bottom: 0;
}

.dept-block {
  height: 46px;
  background-color: $orange;
  width: 46px;
  float: left;
  margin: -10px -15px;
  text-align: center;
  color: white;
  padding: 15px 0;
}

.school-title {
  margin-bottom: 0;
  margin-left: 46px;
}

