@import "variables";
/* INDEX */

#department-courses {
  list-style-type: none;
  padding-left: 0;
}

#department-accordion {
  margin-bottom: 0;
}

// #content-container {
//   background-color: transparent;
//   box-shadow: none;
// }

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

.name-block {
  background-color: $light-blue;
  border-radius: 3px;
  //height: 106px;
  margin: 5px 5px;
  cursor: pointer;
  @include flexbox();

  a {
    text-decoration: none;
    @include flexbox();
    flex-flow: column;
    justify-content: center;
    @include flex(1 100%);
  }
}

.info-header {
  // border-bottom: 1px solid #dfdfdf;
  @include flexbox();
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin-left: -15px;
  margin-right: 5px;
  margin-top: -1px;
}

.details-block {
  margin: 5px 10px;
  width: 62%;
}

.course-name {
  // margin-top: 14px;
  padding: 0px 10px;
  font-size: 30px;
  // font-family: "OpenSans";
  color: white;
}

.course-panel {
  @include flexbox();
  align-items: stretch;
  height: auto;
  // height: 116px;
  background: white;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #B8B8B8;
  border-bottom: 1px solid #bfbfbf;
}

.course-title {
  color: white;
  padding: 0px 10px;
  padding-bottom: 5px;
  // font-family: "OpenSans";
}

.semester-subheader {
  line-height:10px;
  font-size: 10px;
  color: #bfbfbf;
}

.semester {
  // margin-top: px;
  float: right;
  margin-top: -2px;
  margin-bottom: 0px;
}

.rating-block {
  @include flexbox();
  margin-right: 14px;
}

.semester-block {
  padding-right: 0px;
}

.course-icon {
  float:left;
  width: 30px;
  margin-top:12px;
}

.rating-container {
  display: inline-block;
  margin-left: 8px;
}

.course-rating-row {
  margin-top: -3px;
}

.course-rating, .rating-subheader {
  text-align: left;
  display: inline-block;
  width: 60%;
  line-height:10px;
}

.course-rating {
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.rating-empty {
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: 6px;
}

.rating-subheader {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 10px;
  color: #bfbfbf;
}

.description {
  font-size: 12px;
  overflow:hidden;
  margin-bottom: 10px;
  margin-top: 10px;
}

.dept-block {
  height: 46px;
  //background-color: $orange;
  width: 46px;
  float: left;
  margin: -10px -15px;
  text-align: center;
  color: white;
  padding: 15px 0;
}

.school-title {
  margin-bottom: 0;
  margin-left: 46px;
  color: white;
}

.course-block {
  height: 42px;
  background-color: $orange;
  width: 46px;
  float: left;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0;
  margin: -20px -15px -10px -15px;
}

.course-panel {

}

.class-title {
  margin-bottom: 5px;
  margin-left: 46px;
}

.grades-row  {
  height: 50px;
  width: 71%;
  margin: 0;
  padding-bottom: 10px;
}

.number-box {
  text-align: center;
  vertical-align: middle;
}

.number-box > .row {
  text-align: center;
  vertical-align: middle;
}

.row.number {  
  font-size: 50px;
}

.class-name {
  text-align: center;
  font-size: 60px;
  border-bottom: thin solid black;
  padding-right: 30px;
}

.review-box {
  padding-top: 20px;
  .btn > a {
    color:white;
  }
}

.school-panel-title {
    margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
  padding: 15px 20px;
  background-color: $light-blue;
}

/* SHOW */

#dept-tabs > li > a {
  font-size: $subtitle-font-size;
}

#course-panel > .panel-heading {
  padding-bottom: 0px;
}

.bli {
  font-weight: bold;
}


// #content-container {
//   background-color: #eee !important;
//   box-shadow: none !important;
//   padding-top: 0px !important;
//   padding-left: 0px;
//   padding-right: 0px;
// }