@import "variables";
/* INDEX */

#department-courses {
  list-style-type: none;
  padding-left: 0;
}

#department-accordion {
  margin-bottom: 0;
}

.name-block {
  background-color: $light-blue;
  border-radius: 3px;
  margin: 2.5px 2.5px;
  cursor: pointer;
  &:hover{
    background-color: $dark-blue;
  }
  @include flexbox();

  a {
    text-decoration: none;
    @include flexbox();
    @include flex-flow(column);
    @include justify-content(center);
    @include flex(1 100%);
  }
}

.info-header {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-flow(row wrap);
  margin-left: -15px;
  margin-right: 5px;
  margin-top: -1px;
  font-weight: 300;
}

.prof-info-header {
  @include flexbox();
  @include align-items(center);
  @include justify-content(space-between);
  @include flex-flow(row);
  margin-top: -1px;
  font-weight: 300;

  .rating-block {
    margin-right: 46px;
  }

}

.details-block {
  margin: 5px 10px;
  width: 62%;
}

.course-name {
  padding: 0px 10px;
  font-size: $course-font-size;
  color: white;
  font-weight: 300;
}

.course-rating, .semester-block {
  color: #555;
}

.panel {
  margin-left: -15px;
  margin-right: -15px;
}

.course-panel {
  @include flexbox();
  @include align-items(stretch);
  height: auto;
  background: white;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #B8B8B8;
  border-bottom: 1px solid #bfbfbf;
  margin-left: -15px;
  margin-right: -15px;
}

.course-title {
  color: white;
  padding: 0px 10px;
  padding-bottom: 5px;
  letter-spacing: .2px;
}

.subdepartment {
  font-weight: 300;
  font-size: $title-font-size;
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
}

.semester-subheader {
  line-height:10px;
  font-size: $small-font-size;
  color: #bfbfbf;
}

.semester {
  float: right;
  margin-top: -2px;
  margin-bottom: 0px;
}

.rating-block {
  @include flexbox();
  margin-right: 14px;
}

.semester-block {
  padding-right: 0px;
  margin-top: -2px;
}

.course-icon {
  float:left;
  width: 30px;
  margin-top:12px;
}

.rating-container {
  display: inline-block;
  margin-left: 8px;
}

.course-rating-row {
  margin-top: -3px;
}

.course-rating, .rating-subheader {
  text-align: left;
  display: inline-block;
  width: 60%;
  line-height:10px;
}

.course-rating {
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.rating-empty {
  padding-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
  margin-left: 6px;
}

.rating-subheader {
  padding-top: 0px;
  margin-top: 0px;
  font-size: $small-font-size;
  color: #bfbfbf;
}

.description {
  font-size: $description-font-size;
  overflow:hidden;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 300;
}

.dept-block {
  height: 46px;
  //background-color: $orange;
  width: 46px;
  float: left;
  margin: -10px -15px;
  text-align: center;
  color: white;
  padding: 15px 0;
}

.school-title {
  margin-bottom: 0;
  margin-left: 46px;
  color: white;
  font-weight: 300;
}

.course-block {
  height: 42px;
  background-color: $orange;
  width: 46px;
  float: left;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0;
  margin: -20px -15px -10px -15px;
}

.course-panel {

}

.class-title {
  margin-bottom: 5px;
  margin-left: 46px;
}

.grades-row  {
  height: 50px;
  width: 71%;
  margin: 0;
  padding-bottom: 10px;
}

.number-box {
  text-align: center;
  vertical-align: middle;
}

.number-box > .row {
  text-align: center;
  vertical-align: middle;
}

.review-box {
  padding-top: 20px;
  .btn > a {
    color:white;
  }
}

.school-panel-title {
    margin-top: 0;
  margin-bottom: 0;
  font-size: $regular-font-size;
  color: inherit;
  padding: 15px 20px;
  background-color: $light-blue;
}

/* SHOW */

#dept-tabs > li > a {
  font-size: $subtitle-font-size;
}

#course-panel > .panel-heading {
  padding-bottom: 0px;
}

.bli {
  font-weight: bold;
}

.no-margin-left-row {
  margin-left: 0px;
}


@media (max-width: 620px) {
  .course-panel {
    @include flex-flow(column);
    @include align-items(stretch);
  }
  .info-header {
    @include flex-flow(column);
    @include align-items(center);
    margin-right: 0px;
  }
  .prof-info-header, .rating-block {
    margin-right: 0px;
  }
  .semester-block {
    margin-left: -15px;
  }
  .name-block, .details-block {
    width: 98.7%;
    padding-right: 15px;
    a {
      @include align-items(center);
    }
  }
  #header {
    @include flex-flow(column);
    margin-bottom: 0px !important;
  }
  // #course-name, #filter {
  //   width: 100%;
  // }
  .page-title, #filter, #save-course{
    margin-bottom: 10px;
  }
  .description { 
    padding-right: 20px;
  }
}