@import "variables";

footer, footer a {
  color: white;
}

footer {
  background-color: $blue;
  padding: 10px 0;
  height: 50px;
  min-height: 50px;
  max-height: 50px;
}

.links {
  a {
    img {
      max-height: 30px;
    }
  }
}
