@import "variables";

.navbar {
  border: 0;
  border-radius: 0px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  padding: 0;
  width: $sidebar-width;
  background-color: $orange;
  color: white;
  text-align: center;

  h1 {
    margin-top: ($navbar-height - 39px) / 2;
    margin-bottom: ($navbar-height - 39px) / 2;
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: $orange;
  color: white;
}

#logo {
  max-height: $navbar-height;
  max-width: 80%;
  margin-top: 6px;
}

.navbar-default .navbar-nav > li > a {
  color: $blue;
  font-size: $subtitle-font-size;
}