@import "variables";

.navbar {
  border: 0;
  border-radius: 0px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  padding: 0;
  width: $sidebar-width;
  //background-color: $orange;
  color: white;
  text-align: center;
  background-color: #DFE2F5;

  h1 {
    margin-top: ($navbar-height - 39px) / 2;
    margin-bottom: ($navbar-height - 39px) / 2;
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  // background-color: $orange;
  color: white;
}

#logo {
  max-height: $navbar-height;
  max-width: 80%;
  padding: 5px;
}

.navbar-default .navbar-nav > li > a {
  color: $blue;
  font-size: $subtitle-font-size;
  font-weight: 300;
}

#report-bug:hover {
  cursor: pointer;
}

@media (max-width: $screen-sm) {
    .navbar-default .navbar-brand {
      background-color: #fff;
    }
}