@import "variables";

.navbar {
  border: 0;
  border-radius: 0px;
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  padding: 0;
  width: $sidebar-width;
  //background-color: $orange;
  color: white;
  text-align: center;

  h1 {
    margin-top: ($navbar-height - 39px) / 2;
    margin-bottom: ($navbar-height - 39px) / 2;
  }
}

.white-brand {
  background-color: #fff;
}

.blue-brand {
  background-color: #F1F6FB;
}

.blue-brand:hover {
  background-color: #DFE2F5 !important;
}

#logo {
  max-height: $navbar-height;
  max-width: 80%;
  padding: 5px;
}

.navbar-default .navbar-nav > li > a {
  color: $blue;
  font-size: $subtitle-font-size;
  font-weight: 300;
}

#report-bug:hover {
  cursor: pointer;
}

@media (max-width:$screen-sm) {
  .navbar-default .navbar-brand{
    background-color: #fff;
    &:hover {
      background-color: #fff;
    }
  }
}