@import "variables";

#professor-header {
	display: block;
	width: 100%;
	height: 130px;

	#avg-rating, #avg-difficulty {
		padding: 10px;
		margin: 20px;
		height: 100px; 
		width: 162px;
		float: left; 
		background-color: $light-blue; 
		color: white; 
		text-align: center; 
	}

	#professor-email {
		padding: 5px;
		margin: 20px;
		height: auto; 
		width: auto;
		float: right; 
		color: $dark-blue; 
		text-align: center; 
	}

	#professor-email:hover {
		color: $orange;
	}

	#professor-contact {
		float: right;
	}
	
}

.subdepartment-name {
	margin-bottom: 20px;
	text-align: center;
}
.professor-semester {
	margin-bottom: 10px;
}