/*TODO make this file less redundant */

body.modal-open {
	padding-right: 0 !important;
}

#lecture-header, #discussion-header, #laboratory-header {
	display: none;
}

#calendar {
	float: left;
}

#search-bar {
	float: right;
	min-width: 200px;
	max-width: 300px;
}

#schedule-slider {
	margin-top: 12px;
	margin-bottom: 8px;
	margin-right: 10px;
	background-image:url(icons/sliderback.png);
	outline:none; 
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
}

.ui-autocomplete {
	font-size: 12px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#schedule-name {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

#credits {
	margin-top: 5px;
	text-align: center;
	vertical-align: center;
}

.fc-toolbar {
	display: none;
}

#search-footer {
	margin-top: 6px;
}

#saved-courses {
	margin-top: 4px;
}

#calendar .btn.btn-primary {
	width: 100%;
}

#search-bar .btn.btn-primary {
	width: 100%;
}

#clear-courses {
	margin-top: 4px;
	width: 100%;
}

#class-search {
	width: 100%;
	margin-bottom: 4px;
}

#results-title {
	margin-top: 8px;
}

#results-box {
	border-radius: 6px;
	border: 0px solid gray;
	min-height: 400px;
	background-color: #F5F5F5;
}

.course-result {
	font-size: 10px;
	letter-spacing: 0px;
	word-spacing: 0px;
	margin-bottom: 5px;
	margin-right: 3px;
	clear: left;
}

.course-result #content {
	border: 1px solid transparent;
	background-color: #d9551e;
	border-color: #c34c1b;
	padding: 4px;
	cursor: pointer;
	width: 90%;
	display: inline-block;
}

.course-result #checkbox {
	float: right;
}

#generate-options {
	margin-top: 6px;
}

.course-result #content:hover {
	background-color: #ac4318;
	border-color: #8d3713;
}

.course-result p{
	margin: 0em;
	font-size: 12px;
	color: white;
}

.fc-event {
	margin-top: 2px;
	background-color: #d9551e;
	border-color: #c34c1b;
	/*border-radius: 0px;*/
	width: 100%;
}

.remove {
	font-size: 20px;
}

.course-info-dialog {
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
	margin: 0.7em;
	padding: 4px;
	z-index: 3;
	box-shadow: 1px 1px 1px gray;
}

.course-info-dialog p {
	margin: 0em;
	font-size: 12px;
	color: black;
}

.course-info-dialog button {
	margin: 0.45em;
	color: black;
}

.hidden {
	visibility: hidden;
}

.ui-effects-transfer {
	border: 1px dotted black;
}

.ui-slider-tick-mark{
	display:inline-block;
	width:2px;
	background:#00137F;
	height:16px;
	position:absolute;
	top:-2px;
}

@-webkit-keyframes colours {
	0% {background-color: #15214B;}
	50% {background-color: #D75626;}
	100% {background-color: #15214B;}
}

.loading {
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: colours;
	-webkit-animation-timing-function: ease;
}​
