/*TODO make this file less redundant */

body.modal-open {
	padding-right: 0 !important;
}

.scheduler-container {
  background: #FFFFFF;
  box-shadow: 0px 1px 2px 0px #B8B8B8;
  border-radius: 4px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -10px;
  margin-bottom: 5px;
  padding: 10px 10px;
}

.row {
	padding-bottom: 10px;
}

#lecture-header, #discussion-header, #laboratory-header {
	display: none;
}

#calendar {
	float: left;
}

#search {
	float: left;
	margin-left: -22px;
}

#generate-scheduler {
	float: center;
}

#generate-options {
	float: center;
}

.popover {
	z-index: 5;
}

.popover-title {
	font-size: 11px;
}

.popover-content {
	font-size: 9px;
}

#search-bar {
	float: center;
	min-width: 200px;
	max-width: 300px;
}

#schedule-slider {
	margin-top: 12px;
	margin-bottom: 8px;
	margin-right: 10px;
	margin-left: 25px;
	background-image:url(icons/sliderback.png);
	outline:none; 
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
}

#tabUl {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#schedule-options {
	margin-top: 12px;
	margin-right: 10px;
	margin-bottom: -2px;
	height: 30px;
	outline:none; 
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:none;
}

.option {
	padding: 5px 22px;
	top: 0;
	font-size: 12px;
	font-family: "Open Sans", Helvetica;
	background: rgb(235, 231, 231);
	color:black;
	border-width: 1px;
	border-color: #1d0ea3;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin-left: -5px;
	width: 80px;
  }

.ui-autocomplete {
	font-size: 12px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

#gpa-num {
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: center;
}

#gpa-col {
	padding-left: 0px;
}

#credits {
	margin-left: 20px;
	margin-top: 5px;
	text-align: center;
	vertical-align: center;
}

.fc-toolbar {
	display: none;
}

#search-footer {
	margin-top: 6px;
}

#saved-courses {
	margin-top: 4px;
}

#calendar .btn.btn-primary {
	width: 100%;
}

#search-bar .btn.btn-primary {
	width: 100%;
}

#clear-courses {
	margin-top: 4px;
	width: 100%;
}

#results-title {
	padding-left: 65px;
	margin-top: 6px;
}


#results-box {
	border-radius: 6px;
	border: 0px solid gray;
	min-height: 200px;
	background-color: #F5F5F5;
}

.course-result {
	font-size: 10px;
	letter-spacing: 0px;
	word-spacing: 0px;
	clear: left;
}

.course-result #content {
	background-color: #d9551e;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 5px 0px 5px 5px;
	cursor: pointer;
	width: 90%;
	display: inline-block;
}

.course-result #checkbox {
	float: left;
	padding-right: 5px;
	padding-left: 5px;
}

/* #generate-options {
	margin-top: 6px;
} */

.course-result #content:hover {
	background-color: #ac4318;
	border-color: #8d3713;
}

.course-result p{
	margin: 0em;
	font-size: 12px;
	color: white;
}

.fc-event {
	margin-top: 2px;
	background-color: #d9551e;
	border-color: #c34c1b;
	width: 100%;
}

.remove {
	font-size: 12px;
	text-decoration: none;
	margin-right: 3px;
}
.remove span:hover {
	color: #e74c3c;
}

.course-info-dialog {
	border: 1px solid black;
	border-radius: 4px;
	background-color: white;
	margin: 0.7em;
	padding: 4px;
	z-index: 3;
	box-shadow: 1px 1px 1px gray;
}

.course-info-dialog p {
	margin: 0em;
	font-size: 12px;
	color: black;
}

.course-info-dialog button {
	margin: 0.45em;
	color: black;
}

.hidden {
	visibility: hidden;
}

.ui-effects-transfer {
	border: 1px dotted black;
}

.ui-slider-tick-mark{
	display:inline-block;
	width:2px;
	background:#00137F;
	height:16px;
	position:absolute;
	top:-2px;
}

@-webkit-keyframes colours {
	0% {background-color: #15214B;}
	50% {background-color: #D75626;}
	100% {background-color: #15214B;}
}

#course-title {
	text-align: center;
}

#scheduler-buttons > button {
	border: 1px solid LightGray;
	background-color: #eeeeee;
	border-radius: 5px;
	margin-right: 5px;
}


#scheduler-buttons > button:hover {
	background-color: LightGray;
}

#how-to {
	border: 1px solid LightGray;
	border-radius: 5px;
}

#how-to-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 75%;
	transform: translate(-50%, -50%);

}
