@import "variables";

.panel-title-content {
  padding-top: 0;
  margin-top:0;
  vertical-align: middle;
}


.number-box {
  text-align: center;
  vertical-align: middle;
}
.number-box > .row {
  text-align: center;
  vertical-align: middle;
}
.row.number {
  font-size: 50px;
}
.class-name {
  text-align: center;
  font-size: 60px;
  border-bottom: thin solid black;
  padding-right: 30px;
}

.prof-block {
  height: 46px;
  background-color: $orange;
  width: 46px;
  float: left;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 15px 0;
  margin-top: -10px;
  margin-left: -15px;
}
.prof-heading {
  margin-bottom: 5px;
}
.prof-title {
  font-size: 18px;
}
