@import "variables";

@media only screen and (max-device-width: 480px){
    #scheduler {
      display: none;
    }
}

#nav-footer {
  left: auto;
  right: auto;
  text-align: center;
  opacity: 0.5;
  padding-bottom: 25px;
  font-size: 12px;
  width: $sidebar-width;

  a {
    color: white;
  }

}

#search-form {
  i {
    margin-right: 10px;
  }

  #search-query {
    background-color: $blue;
    border: 0;
    outline: none;
    width: 150px;
  }

  .submit-row {
    text-align: center;
  }

}

.site-nav-links {
  color: white;
  list-style-type: none;
  margin-top: 8px;
  font-weight: 300;

  .nav-row {
    font-size: $sidebar-font-size;
    height: 100%;
    color: rgba(255,255,255,0.5);


    .col-wrapper {
      padding-top: 18px;
      padding-bottom: 18px;
      border-bottom: 1px solid rgba(255,255,255,0.5);

      .beta:hover {
        background-color: white;
      }
      .beta {
        color: black;
        font-size: 10px;
        text-align: center;
        position: relative;
        float: right;
        margin-right: 25%;
        margin-top: 6px;
        margin-left: auto;
        background-color: $orange;
        border-radius: 3px;
        padding: 0px 5px;
      }

      a {
        margin-left: $sidebar-left-margin;
        color: rgba(255,255,255,0.5);

        i {
          padding-right: $sidebar-icon-padding;
        }
      }

      a:hover {
        color: rgba(255,255,255,1.0);
      }

      .col-secondary{
        display: none;
        padding-top: 10px;
        margin-left: $sidebar-left-tabbed;  
      }
    }
  }

  .search-row {
    .col-wrapper {
      span {
        margin-left: $sidebar-left-margin;
        padding-right: $sidebar-icon-padding;
      }      
    }
  }  
}