@import "variables";

@media only screen and (max-device-width: 480px){
    #scheduler {
      display: none;
    }
}

.sidebar__footer {
  background-color: $blue;
  height: 60px;
  text-align: center;
  opacity: 0.5;
  font-size: 12px;
  width: $sidebar-width;

  a {
    color: white;
  }

}

.sidebar {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(space-between);
  height: 95%;
  min-height: 400px;
  width: 100%;
  padding: 0 15px;
  color: white;
  list-style-type: none;
  margin-top: 8px;
  font-weight: 400;

  #scheduler {
    .beta {
      margin-right: 25%;
    }
  }

  #textbook-exchange {
    .beta {
      margin-right: 20%;
    }
  }

  .nav-row {
    font-size: $sidebar-font-size;
    color: rgba(255,255,255,0.5);


    .col-wrapper {
      padding-top: 18px;
      padding-bottom: 18px;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      position: relative;
      display: block;
      text-align: center;

      .beta:hover {
        background-color: white;
      }
      .beta {
        color: black;
        font-size: 10px;
        text-align: center;
        position: relative;
        float: right;
        margin-top: 6px;
        margin-right: 50px;
        background-color: $orange;
        border-radius: 3px;
        padding: 0px 5px;
      }

      .row {

        a {
          margin-left: $sidebar-left-margin;
          color: rgba(255,255,255,0.5);

          i {
            padding-right: $sidebar-icon-padding;
          }
        }

        a:hover {
          color: rgba(255,255,255,1.0);
        }
      }

      .col-secondary{
        padding-bottom: 10px;
        padding-top: 10px;
        i {
          padding: 5px;
        }
      }
    }
  }

  .search-row {
    .col-wrapper {
      span {
        margin-left: $sidebar-left-margin;
        padding-right: $sidebar-icon-padding;
      }
    }
  }
}
