// Place all the styles related to the textbook_transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#above-search-bar {
	display: inline;
	position: relative;
	list-style-type: none;

	ul {
		margin-top: 10px;
		padding-right: 0px;
		-webkit-padding-start: 0px;
		height: 30px;
	}

	li {
		display: inline;

		label {
			position: absolute;
			top: 10px;
			margin-bottom: 0px;
		}

	}

}

#post-listing {
	position: absolute;
	float: right;
	right: 0px;
	text-align: center;
	top: -15px;
	background-color: #D75626;
	color: white;
	border-radius: 2px; 
}

.ui-autocomplete {
	z-index: 2147483647;
	list-style: none;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    background-color: #D75626;
}

.nav-pills > li {
    background-color: #eeeeee;
}

.claim {
	border-radius: 5px;
	border: 1px solid #D75626;
}

.claim:hover {
	background-color: #e38867;
}

#book-list > div:hover {
	background-color: #c1e1ec;
}
#book-list > div {
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 3px;
	transition: background-color 1.5s ease;
}
