// Place all the styles related to the textbook_transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-listing {
	float: right;
	right: 0px;
	text-align: center;
	top: -15px;
	background-color: #D75626;
	color: white;
	border-radius: 2px; 
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    background-color: #D75626;
}

.nav-pills > li {
    background-color: #eeeeee;
}

.claim {
	border-radius: 5px;
	border: 1px solid #D75626;
}

.claim:hover {
	background-color: #e38867;
}

#listing-table {
	
	#end-date {
		min-width: 100px;
	}

}

@media (min-width: 1400px) {
	.a-book {
		width: 25%;
	}
}
@media (max-width: 1400px) and (min-width: 1100px) {
	.a-book {
		width: 33%;
	}
}
@media (max-width: 1100px) and (min-width: 500px) {
	.a-book {
		width: 50%;
	}
}
@media (max-width: 760px) {
	#end-date {
		display: none;
	}
	.end_date {
		display: none;
	}
}
@media (max-width: 660px) {
	#author {
		display: none;
	}
	.author {
		display: none;
	}
}
@media (min-width: 570px) {
	.book-price-col {
		width: 33%;
	}
}
@media (max-width: 570px) {
	#condition {
		display: none;
	}
	.condition {
		display: none;
	}
	.book-price-col {
		width: 100%;
		// text-align: right;
	}

}
@media (max-width: 500px) {
	.a-book {
		width: 100%;
	}
}
@media (min-width: 450px) {
	#follow, #sell-yours {
		margin: 3px;
	}
}
@media (max-width: 450px) {
	#post-listing {
		width: 100%;
		margin-top: 20px;
	}
	#sections_table {
		margin-bottom: -20px;
	}
	#follow {
		width: 100%;
		margin-bottom: 10px;
	}
	#sell-yours {
		width: 100%;
		margin-bottom: 20px;
	}
	#listing_nav {
		width: 54.5%;
		a {
			text-align: center;
		}
	}
	#book_nav {
		width: 44.5%;
		a {
			text-align: center;
		}
	}
	#courses {
		display: none;
	}
	.courses {
		display: none;
	}
}
@media (max-width: 320px) {
	.table > tbody > tr > td {
		padding: 4px;
	}
}

#book-list {

	.a-book:hover {
		background-color: #c1e1ec;
	}
	
	div {
		border-radius: 5px;
		margin-bottom: 10px;
		padding: 3px;
		transition: background-color 0.5s ease;
	}


	.a-book {
		height: 82px;
		float: left;
		overflow: hidden;


		#cover-thumb-container {
			max-width: 50px;
			float: left;
			margin-right: 5px;
			
			#cover-thumb {
				max-width: 50px;
				max-height: 60px;
			}

		}

		#title-thumb-container {
			margin-left: 5px;
		}
	}


}


#more-books {
	display: block;
	border: 2px solid #15214B;
	border-radius: 10px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

#more-books:hover {
	background-color: #468AC2;
}
#more-listings {
	display: block;
	border: 2px solid #15214B;
	border-radius: 10px;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

#more-listings:hover {
	background-color: #468AC2;
}

#follow, #sell-yours {
	float: right;
	text-align: center;
	background-color: #D75626;
	color: white;
	border-radius: 2px;
}

#prices {
	display: inline;
	position: relative;

	h5 {
		text-align: left;
	}

	.book-price-col {
		z-index: 2000;
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		float: left;
	}

	li {
		display: inline;
		float: left;
	}

}

#cover {
	max-width: 100%;
	height: auto;
	border: 5px solid #0D3268;
	margin-top: 10px;
}

#student-postings {
	margin-top: 20px;
}

#post-listing-modal {

	#post-thumb {
		display: block;
		margin-right: auto;
		margin-left: auto;
		height: 70px;
		max-width: 70px;
		background-color: gray;
		border: 2px solid #0D3268;
	}

	#post-choose {
		text-align: center;
		// margin-right: auto;
		// margin-left: auto;
	}

	#book-input-field, #cell-input-field, #price-input-field, #condition-input-field {
		// @include unsatisfied-field-highlight(#a94442);
	}

	#dollar {
		padding-right: 0;
	}

	#price-input {
		padding-left: 0;
	}

}

.ui-autocomplete {
	z-index: 2147483647;
	list-style: none;
}
.nopadding {
	padding: 0 !important;
}
.nodecoration {
	text-decoration: none !important;
	cursor: auto !important;
}
.link-block {
	display: block;
	z-index: 1000;
}