%header
  %nav
    .container
      %a.brand{:href => "/"}
        %img{:src => "/images/logo.png"}
      .account-header
        = link_to 'logout', destroy_user_session_path, :method => :delete
      = form_tag '/search/search', :method => "get", :class => "site-search" do
        .input-append.input-prepend
          %span.add-on
            %i.icon-search
          = text_field_tag :query, nil, :id => "searchbox"
          = button_tag 'SEARCH', :class => 'btn btn-primary'
