%header
  %nav
    .container
      %a.brand{:href => "/"}
        %img{:src => "/images/logo.png"}
      %form.site-search
        .input-append.input-prepend
          %span.add-on
            %i.icon-search
          %input{:type => "text"}
          %span.add-on.orange SEARCH
