%header
  %nav
    .container
      %a.brand{:href => "/"}
        %img{:src => "/images/logo.png"}
      = form_tag sessions_path, :class => 'login' do
        = text_field_tag(nil, nil, :id => "email", :placeholder => "Email")
        = password_field_tag(:password, :placeholder => "Password")
        = submit_tag "Login"
