%header
  %nav
    .container
      %a.brand{:href => "/"}
        %img{:src => "/images/logo.png"}
      = form_for @user, :url => session_path(:user), :class => "login" do |f|
        = f.email_field :email, :placeholder => "Email"
        = f.password_field :password, :placeholder => "Password"
        = f.submit "Login"
