- if current_user
  %ul.site-nav-links.visible-lg
    %li
      %a{:href => "/"}
        %i.glyphicon.glyphicon.glyphicon-home
        Home
    %li
      %a{:href => "/reviews/new"}
        %i.glyphicon.glyphicon-pencil
        Write a review
    %li
      %a{:href => "/browse"}
        %i.glyphicon.glyphicon-list
        Browse All
    %li
      %a{:href => "/professors"}
        %i.glyphicon.glyphicon-list
        Browse by Professor
    %li
      %a{:href => "/scheduler/manual"}
        %i.glyphicon.glyphicon-calendar
        Manual Scheduler
    %li
      %a{:href => "/scheduler/automatic"}
        %i.glyphicon.glyphicon-calendar
        Automatic Scheduler
- else
  .sidefiller.hidden-xs.hidden-sm
